################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webgentle.Bookstore/.vs/Webgentle.Bookstore
/Webgentle.Bookstore/Webgentle.Bookstore/bin/Debug/net5.0
/Webgentle.Bookstore/Webgentle.Bookstore/obj
/FirstMVCApp/bin/Debug/net5.0
